@import url('https://fonts.googleapis.com/css?family=Questrial');

header {
    border-bottom: 1px solid black;
    margin-bottom: 1.45rem;
}

.header-main {
    display: flex;
    margin-left: 15px;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    justify-content: left;
}

.header-text {
    margin: 0;
    text-align: center;
}

.header-text a {
    color: black;
    text-decoration: none;
}
