.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.about-me-picture {
    width: 40%;
}

.about-me-header {
    width: 60%;
    font-weight: bold;
}
