@font-face {
    font-family: 'Josefin Sans Semibold';
    src: url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #104891;
}

.about-me {
    width: 80%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    color: #f9f9fa;
}

.about-me-main {
    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.about-me-header {
    font-family: 'Josefin Sans Semibold', 'Helvetica', sans-serif;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 5rem;
    line-height: 5rem;

    text-align: center;
}

.about-me-text {
    font-size: 2.5em;
}

.projects {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
